<!DOCTYPE html>
<html>
<head>
	<title>Success - Muna Customer Care</title>
	 <!--========== CSS ==========-->
	 <link rel="stylesheet" href="/css/style.css">
	 <!-- ======== FONT ========= -->
	<link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
	<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
</head>
<body>
	<div class="page-header">
		<h2>Muna Telegram Customer Care Support</h2>
	</div>
	<div class="container">
		<div class="contact-box">
			<div class="left"></div>
			<div class="right">
				<% if (success === true) { %>
					<h2>Contact Us</h2> <br>
					<h3>Message sent to user with ID <%= userId %> successfully.</h3> <br>
					<h3>Click <a href="/">here</a> to go back home </h3>
				<% } else { %>
					<h2>Contact Us</h2> <br>
					<h3>Message not sent successfully.</h3> <br>
					<h3>Message or Chat ID is invalid.</h3> <br>
					<h3>Click <a href="/">here</a> to go back home </h3>
				<% } %>
				
			</div>
		</div>
	</div>
</body>
</html>